/* root and body */
:root {
  --color1: rgb(0, 47, 74);
  --hover-color1: rgb(0, 85, 133);
}

body {

}
/* --------------------------- */

/* ----------- SIGN UP PAGE ----------*/
.SignUp {
  display: flex;
}
.signup-form-container-div {
  margin: 0 auto;
}

.signup-form-div {
  background-color: white;
  width: 350px;
  height: 50px;
  border: solid 1px gray;
  margin-top: 15px;
  border-radius: 10px;
}

.signup-form {
  width: 300px;
  margin-top: 15px;
  margin-left: 10px;
  border: 0;
  font-size: 16px;
}

.signup-form::placeholder {
  font-size: 16px;
}

.signup-form-button {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: solid 1px gray;
  margin-top: 10px;
  background-color: var(--color1);
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
}

.signup-form-button:hover {
  background-color: var(--hover-color1);
}
/* ----------- SIGN UP PAGE ----------*/

/*--------- ABOUT TEAM PAGE --------*/
.About {
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

.about-team-div {
  margin: 0 auto;
  display: flex;
  width: 800px;
}

.about-team-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.about-team-details {
  margin-left: 20px;
}

/* NAV BAR */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--color1);
  text-decoration: underline;
}

.Nav {
  display: flex;
  justify-content: space-between;
}

.nav-div {
  margin: 0 auto;

}

.nav-items {
  margin: 10px;
  display: inline;
  list-style: none;
}