/* DECLARE COLOR VARIABLES HERE */
:root {
	--color1: rgb(0, 47, 74);
	--hover-color1: rgb(0, 85, 133);
}
/* --------------------------- */

/* ----------- SIGN UP PAGE ----------*/
.SignUp {
	display: flex;
}
.signup-form-container-div {
	margin: 0 auto;
}

.signup-form-div {
	background-color: white;
	width: 350px;
	height: 50px;
	border: solid 1px gray;
	margin-top: 15px;
	border-radius: 10px;
}

.signup-form {
	width: 300px;
	margin-top: 15px;
	margin-left: 10px;
	border: 0;
	font-size: 16px;
}

.signup-form::placeholder {
	font-size: 16px;
}

.signup-form-button {
	width: 350px;
	height: 50px;
	border-radius: 10px;
	border: solid 1px gray;
	margin-top: 10px;
	background-color: var(--color1);
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.signup-form-button:hover {
	background-color: var(--hover-color1);
	transition: 0.5s;
}
/* ----------- SIGN UP PAGE ----------*/
