/* DECLARE COLOR VARIABLES HERE */
:root {
	--color1: rgb(0, 47, 74);
	--hover-color1: rgb(0, 85, 133);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

/* --------------------------- */

/* ----------- SIGN UP PAGE ----------*/
.SignUp {
	display: flex;
	height: 75vh;
	align-items: center;
}
.signup-form-container-div {
	margin: 0 auto;
}

.anchor-logo-image {
}

.signup-form-div {
	background-color: white;
	margin: 0 auto;
	width: 350px;
	height: 50px;
	border: solid 1px gray;
	margin-top: 15px;
	border-radius: 10px;
}

.signup-form {
	width: 300px;
	margin-top: 15px;
	margin-left: 10px;
	border: 0;
	font-size: 16px;
}

.signup-form::placeholder {
	font-size: 16px;
}

.signup-form-button {
	width: 350px;
	height: 50px;
	border-radius: 10px;
	border: solid 1px gray;
	margin-top: 25px;
	background-color: var(--color1);
	color: white;
	font-size: 16px;
	font-weight: bold;
	transition: 0.5s;
}

.signup-form-button:hover {
	background-color: var(--hover-color1);
	padding-top: 10px;
	transition: 0.5s;
}

.sign-up-form {
	margin: 0 auto;
}

.login-button-div {
	text-align: left;
}

/* ----------- SIGN IN PAGE ---------*/
.signin-text a:hover {
	color: var(--hover-color1);
	font-weight: bold;
	text-decoration: underline;
	padding-bottom: 10px;
	transition: 0.5s;
}

/*--------- ABOUT TEAM PAGE --------*/
.About {
	margin: 0 auto;
	width: 75vw;
}

h2,
h3,
p {
	margin: 0;
	padding: 5px;
	width: 600px;
}

.icons {
	display: flex;
}

b {
	color: var(--hover-color1);
}
.technologies-used-text:hover {
	color: var(--hover-color1);
	font-weight: bold;
	border-bottom: solid 2px var(--hover-color1);
}
.about-headers {
	text-align: center;
	margin-top: 20px;
}

.about-team-div {
	margin: 0 auto;
	margin-top: 10px;
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;

	border-bottom: solid 1px lightgray;
}

.about-team-img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin-top: 25px;
	border: solid 1px lightgray;
}

.about-header-image {
	margin: 0 auto;
}
.about-team-details {
	margin-left: 20px;
	margin-top: 30px;
}

/* NAV BAR */
a {
	color: var(--color1);
	text-decoration: none;
	transition: 0.5s;
}

a:hover {
	color: var(--hover-color1);
	transition: 0.5s;
}

.nav-items {
	margin-top: 20px;
	margin-left: 50px;
	transition: 0.5s;
}

.nav-items:hover {
	color: var(--hover-color1);
	font-weight: bold;
	border-bottom: solid 5px var(--hover-color1);
	padding-bottom: 10px;
	transition: 0.2s;
}

.Nav {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 60px;
	border-bottom: solid 1px lightgray;
	width: 70vw;
}

.nav-items-container {
}

.nav-items-logout {
	display: flex;
	justify-content: flex-end;
}

.logout-btn {
	background-color: white;
	color: var(--color1);
	height: 35px;
	width: 100px;
	border: solid 1px lightgray;
	border-radius: 10px;
	transition: 0.5s;
}

.logout-btn:hover {
	color: white;
	background-color: var(--color1);
	transition: 0.5s;
}

/* history */
/* .history-div {
	width: 35vw;
	margin: 0 auto;
}

.history-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.history-tag-col {
	grid-column: 2 / 3;
}

.history-time-col {
	grid-column: 3 / 4;
}

.history-session-row {
	grid-column: 1 / 6;
}

.history-session-content {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 2;
	/* margin: 1em 0; */
/* }

.history-content-date {
	grid-column: 1 / 2;
}

.history-content-tag {
	grid-column: 2 / 3;
}

.history-content-timeSpent {
	grid-column: 3 / 4;
}

.history-content-edit {
	grid-column: 4 / 5;
}

.history-content-edit-display-show {
	grid-column: 1 / 6;
	grid-row: 2 / 3;
	justify-self: center;
	margin: 0.5em;
}
 /*  */

.history-content-edit-display-hide {
	display: none;
}

.history-content-edit-display-show {
	margin: 0 auto;
	text-align: center;
	margin: 0.5em;
}

.history-div {
	margin: 0 auto;
	margin-top: 25px;
	width: 50vw;
	max-width: 800px;
}

.history-session-row {
}

.history-session-content {
	display: flex;
	/* flex-wrap: wrap; */
	text-align: center;
	border: solid 1px lightgray;
	border-radius: 15px;
	margin-top: 10px;
	min-width: 800px;
}

.history-content-date {
	width: 200px;
	margin-right: 20px;
	padding-top: 10px;
	border-right: solid 1px lightgray;
}

.history-content-tag {
	width: 200px;
	border-right: solid 1px lightgray;
	padding-top: 10px;
}

.history-content-timeSpent {
	width: 200px;
	border-right: solid 1px lightgray;
	padding-top: 10px;
}

.history-content-edit {
	width: 200px;
	padding-top: 10px;
}

.history-content-edit-btn {
	margin-right: 5px;
	border: 0;
	background-color: white;
	border-radius: 5px;
	transition: 0.2s;
	opacity: 50%;
}

.history-content-edit-btn:hover {
	color: var(--hover-color1);
	transition: 0.2s;
	border: solid 1px var(--color1);
	opacity: 100%;
}

.history-content-delete-btn {
	margin-right: 5px;
	border: 0;
	background-color: white;
	border-radius: 5px;
	transition: 0.2s;
	opacity: 50%;
}

.history-content-delete-btn:hover {
	color: var(--hover-color1);
	transition: 0.2s;
	border: solid 1px var(--color1);
	opacity: 100%;
}

.history-headers-container {
	display: flex;
	color: var(--color1);
	font-size: 20px;
	font-weight: bold;
	min-width: 800px;
	margin-top: 25px;
}

.history-date {
	/* border: solid 1px black; */
	width: 194.5px;
	text-align: center;
}

.history-description {
	/* border: solid 1px black; */
	width: 215px;
	text-align: center;
}

.history-timespent {
	/* border: solid 1px black; */
	width: 195px;
	text-align: center;
}

.history-edit {
	/* border: solid 1px black; */
	width: 195px;
	text-align: center;
}

.history-edit-new-time-form {
	border: solid 1px lightgray;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 10px;
	text-align: center;
	height: 35px;
	width: 130px;
}

.history-user-text {
	font-size: 24px;
	font-weight: bold;
}

.history-username {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--color1);
}

.history-edit-new-tag-dropdown {
	border: solid 1px lightgray;
	margin-top: 5px;
	border-radius: 10px;
	text-align: center;
	height: 35px;
	width: 130px;
}

.history-edit-submit-btn {
	height: 30px;
	width: 115px;
	background-color: green;
	color: white;
	border: solid 1px lightgray;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
}

.history-edit-submit-btn:hover {
	background-color: rgb(114, 201, 114);
	color: black;
	border: solid 1px green;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
}

.history-edit-delete-btn {
	height: 20px;
	width: 115px;
	background-color: rgb(218, 34, 34);
	color: white;
	border: solid 1px lightgray;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
}

.history-edit-delete-btn:hover {
	background-color: rgb(255, 0, 0);
	color: white;
	border: solid 1px red;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
}

/* ------ SUMMARY PAGE -------- */

.Summary {
	display: flex;
	flex-wrap: wrap;
	width: 60vw;
	margin: 0 auto;
	margin-top: 100px;
}

.summary-each-item {
	margin: 0 auto;
	width: 300px;
	flex-wrap: wrap;
}

.summary-items-container {
	display: inline-flex;
	width: 400px;
	text-align: center;
}

.summary-items {
	padding: 20px;
	width: 200px;
	font-weight: bold;
	border: solid 1px lightgray;
}

.piechart-div {
	margin: 0 auto;
}

.summary-total-timespent-text {
	font-size: 24px;
}

/* --------- USER HOME PAGE --------- */
.UserHome {
	height: 75vh;
	justify-content: center;
	align-items: center;
}

.welcome-text {
	font-size: 50px;
	text-align: left;
	padding: 35px;
	padding-left: 300px;
}

.userhome-table {
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	font-size: 16px;
	width: 50vw;
}

th {
	text-align: center;
	border-bottom: solid 1px lightgray;
	font-size: 20px;
	padding-bottom: 15px;
}

td {
	padding: 15px;
	text-align: center;
	border-bottom: solid 1px lightgray;
}

.StartSession {
	text-align: center;
	display: flex;
	flex-direction: row;
}

.start-session-tags-dropdown {
	height: 50px;
	width: 300px;
	/* border: solid 1px lightgray; */
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	text-align: center;
	border-radius: 10px;
}

.start-session-tags-dropdown:hover {
	background-color: rgb(238, 238, 238);
	transition: 0.5s;
}

.start-session-btn {
	border: 0;
	border-radius: 10px;
	height: 75px;
	width: 200px;
	margin: 10px;
	background-color: var(--color1);
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: bold;
	transition: 0.5s;
}

.start-session-btn:hover {
	background-color: var(--hover-color1);
	transition: 0.5s;
}

.choose-tag-btn {
	border: 0;
	border-radius: 10px;
	height: 40px;
	width: 200px;
	margin: 10px;
	background-color: var(--color1);
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: bold;
	transition: 0.5s;
}

.start-session-add-tag-btn {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	border: 0;
	border-radius: 10px;
	height: 50px;
	width: 150px;
	margin-left: 10px;
	background-color: var(--color1);
	color: white;
}

.start-session-minutes-form {
	height: 50px;
	border: solid 1px lightgray;
	border-radius: 5px;
	margin: 15px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 20px;
	transition: 0.5s;
}

.start-session-minutes-form:hover {
	background-color: rgb(238, 238, 238);
	transition: 0.5s;
}

.start-session-minutes-form::placeholder {
	text-align: center;
}

.timer-end-session-btn {
	border: 0;
	border-radius: 10px;
	height: 75px;
	width: 200px;
	margin: 10px;
	background-color: red;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: bold;
	transition: 0.5s;
}

.timer-end-session-btn:hover {
	background-color: rgb(145, 72, 72);
	transition: 0.5s;
}

.Timer {
	text-align: center;
}

.timer-countdown {
	font-size: 24px;
	font-weight: bold;
}

.time-remaining {
	color: red;
	font-size: 36px;
}

.tag-dropdown-option-list {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 20;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	border: solid 1px rgba(211, 211, 211, 0.788);
}

.tag-input-form {
	height: 30px;
	border: solid 1px lightgray;
	border-radius: 5px;
	margin: 10px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 16px;
}

.tag-input-form:hover {
	background-color: rgb(238, 238, 238);
	transition: 0.5s;
}

.tag-input-form::placeholder {
	text-align: center;
}

.add-tag-btn {
	border: 0;
	border-radius: 10px;
	/* height: 75px; */
	/* width: 200px; */
	margin: 10px;
	padding: 10px;
	background-color: var(--color1);
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.add-tag-btn:hover {
	background-color: var(--hover-color1);
	transition: 0.5s;
}
